@font-face {
  font-family: "Dung";
  src: url("../fonts/DungGeunMo.ttf") format("truetype");
}

@font-face {
  font-family: "ALLtext";
  src: url("../fonts/1f7c8ccd684935e6.ttf") format("truetype");
}
